{
  "swagger": "2.0",
  "info": {
    "description": "Finalcad One is a construction management platform designed to improve collaboration, track progress, and streamline field operations. With this connector, you can integrate Finalcad One with hundreds of other applications to simplify project tracking, automate repetitive tasks, and enhance overall efficiency.",
    "title": "Finalcad One Connect v2.2",
    "version": "2.2",
    "termsOfService": "https://www.finalcad.com/legal",
    "contact": {
      "name": "Finalcad",
      "url": "https://www.finalcad.com/contact",
      "email": "support@finalcad.com"
    }
  },
  "host": "developer.finalcad.cloud",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/languages": {
      "get": {
        "description": "Get all the available languages for libraries and items",
        "operationId": "GetLanguagesList",
        "parameters": [
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetLanguages"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Get languages",
        "tags": [
          "Application"
        ]
      }
    },
    "/medias/uploadinit": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Initiate the process for uploading a media file in chunks.",
        "operationId": "MediaUploadInit",
        "parameters": [
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UploadChunkInitParameters"
            },
            "x-ms-summary": ""
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadChunkInit"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Media - Start chunk upload",
        "tags": [
          "Medias"
        ]
      }
    },
    "/medias/{mediaId}/uploadabort": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Cancel the current chunk upload process and discard any received parts.",
        "operationId": "MediaUploadAbort",
        "parameters": [
          {
            "description": "the media ID",
            "in": "path",
            "name": "mediaId",
            "required": true,
            "type": "string",
            "x-ms-summary": "the media ID"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UploadChunkFinalizeParameters"
            },
            "x-ms-summary": ""
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "schema": {
              "$ref": "#/definitions/Media"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Media - Abort chunk upload",
        "tags": [
          "Medias"
        ]
      }
    },
    "/medias/{mediaId}/uploadappendOld": {
      "post": {
        "description": "Append an individual chunk to the ongoing media upload session.",
        "operationId": "MediaUploadChunk",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "description": "the media ID",
            "in": "path",
            "name": "mediaId",
            "required": true,
            "type": "string",
            "x-ms-summary": "the media ID"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "description": "chunk id",
            "in": "formData",
            "name": "chunk_id",
            "required": true,
            "type": "string",
            "x-ms-summary": "the chunk ID"
          },
          {
            "description": "chunk index",
            "in": "formData",
            "name": "segment_index",
            "required": true,
            "type": "integer",
            "x-ms-summary": "the media index"
          },
          {
            "description": "is it the last chunk",
            "in": "formData",
            "name": "last_chunk",
            "required": true,
            "type": "boolean",
            "x-ms-summary": "Is this chink the last one"
          },
          {
            "description": "chunk stream",
            "in": "formData",
            "name": "stream",
            "required": true,
            "type": "file",
            "x-ms-summary": "the stream"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Media - Append chunk part",
        "tags": [
          "Medias"
        ]
      }
    },
    "/medias/{mediaId}/uploadappend": {
      "post": {
        "description": "Append an individual chunk to the ongoing media upload session.",
        "operationId": "MediaUploadChunk4",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "the media ID",
            "in": "path",
            "name": "mediaId",
            "required": true,
            "type": "string",
            "x-ms-summary": "the media ID"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "chunk_id": {
                  "description": "chunk id",
                  "type": "string"
                },
                "segment_index": {
                  "description": "chunk index",
                  "type": "integer"
                },
                "last_chunk": {
                  "description": "is it the last chunk",
                  "type": "boolean"
                },
                "stream": {
                  "type": "object",
                  "description": "binary stream",
                  "properties": {
                    "filename": {
                      "type": "string"
                    },
                    "contentType": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Media - V2 Append chunk part",
        "tags": [
          "Medias"
        ]
      }
    },
    "/medias/{mediaId}/uploadterminate": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Confirm and finalize the upload by verifying that all chunks have been correctly received.",
        "operationId": "MediaUploadValidate",
        "parameters": [
          {
            "description": "Id of the media",
            "in": "path",
            "name": "mediaId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id of the media"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UploadChunkFinalizeParameters"
            },
            "x-ms-summary": ""
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Media"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Media - Validate chunk upload",
        "tags": [
          "Medias"
        ]
      }
    },
    "/medias/{mediaId}/url": {
      "get": {
        "description": "Retrieve the URL for accessing a media resource",
        "operationId": "GetMediaUrl",
        "parameters": [
          {
            "description": "id of the media",
            "in": "path",
            "name": "mediaId",
            "required": true,
            "type": "string",
            "x-ms-summary": "id of the media"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MediaResourceUrl"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Media - Get media resource URL",
        "tags": [
          "Medias"
        ]
      }
    },
    "/organizations": {
      "get": {
        "description": "Get the list of all the organizations where you are a member",
        "operationId": "GetOrganizations",
        "parameters": [
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Organization - Get organizations list",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/organizations/user-infos/me": {
      "get": {
        "description": "Get your user informations",
        "operationId": "GetUserDetail",
        "parameters": [
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetUserInfo"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Organization - Get connected user",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/organizations/{organizationId}/modules/suggestions": {
      "get": {
        "description": "Get suggested modules related to your organization",
        "operationId": "GetModuleSuggestions",
        "parameters": [
          {
            "description": "The organization id",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The organization id"
          },
          {
            "description": "Number max of modules to get",
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Number max of modules to get"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "offset"
          },
          {
            "description": "the workspace ID",
            "in": "query",
            "name": "workspace_id",
            "type": "string",
            "x-ms-summary": "the workspace ID"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetModulesOrgaSuggestion"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Organization - Get suggested modules",
        "tags": [
          "OrgaModules"
        ]
      }
    },
    "/organizations/{organizationId}/organization-roles": {
      "get": {
        "description": "Get organization roles",
        "operationId": "GetOrgaRoles",
        "parameters": [
          {
            "description": "The organization id",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The organization id"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetRoles"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Organization - Get roles",
        "tags": [
          "Members"
        ]
      }
    },
    "/organizations/{organizationId}/projectsAll": {
      "get": {
        "description": "Get the list of all your projects in a given organization",
        "operationId": "GetProjects",
        "parameters": [
          {
            "description": "The organization id",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The organization id"
          },
          {
            "description": "The workspace id (optional)",
            "in": "query",
            "name": "workspace_id",
            "type": "string",
            "x-ms-summary": "The workspace id (optional)"
          },
          {
            "default": true,
            "description": "Search in child workspaces (optional)",
            "in": "query",
            "name": "with_workspace_children",
            "type": "boolean",
            "x-ms-summary": "Search in child workspaces (optional)"
          },
          {
            "description": "Search term (optional)",
            "in": "query",
            "name": "search_term",
            "type": "string",
            "x-ms-summary": "Search term (optional)"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetProjects"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Organization - Get projects list",
        "tags": [
          "Organizations"
        ]
      }
    },
    "/organizations/{organizationId}/workspaces": {
      "get": {
        "description": "Get workspaces related to your organization",
        "operationId": "GetWorkspaces",
        "parameters": [
          {
            "description": "The organization id",
            "in": "path",
            "name": "organizationId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The organization id"
          },
          {
            "description": "the parent workspace ID",
            "in": "query",
            "name": "parent_id",
            "type": "string",
            "x-ms-summary": "the parent workspace ID"
          },
          {
            "description": "include children",
            "in": "query",
            "name": "with_children",
            "type": "string",
            "x-ms-summary": "include children"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetWorkspaces"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Organization - Get workspaces",
        "tags": [
          "Workspaces"
        ]
      }
    },
    "/projects/{projectId}": {
      "get": {
        "description": "Get the details of a given project (time zone, language, update date,...)",
        "operationId": "GetProjectDetail",
        "parameters": [
          {
            "description": "The id of the project.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The id of the project."
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetProject"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get project details",
        "tags": [
          "Projects"
        ]
      }
    },
    "/projects/{projectId}/categories": {
      "get": {
        "description": "Get forms categories",
        "operationId": "GetModuleCategories",
        "parameters": [
          {
            "description": "The id of the project",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The id of the project"
          },
          {
            "description": "The module ID",
            "in": "query",
            "name": "module_id",
            "type": "string",
            "x-ms-summary": "The module ID"
          },
          {
            "description": "The parent category ID (optional)",
            "in": "query",
            "name": "category_id",
            "type": "string",
            "x-ms-summary": "The parent category ID (optional)"
          },
          {
            "description": "Include disabled",
            "in": "query",
            "name": "with_disabled",
            "type": "string",
            "x-ms-summary": "Include disabled"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetModulesCategories"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get forms categories",
        "tags": [
          "Modules"
        ]
      }
    },
    "/projects/{projectId}/companies": {
      "get": {
        "description": "Get the companies in your project",
        "operationId": "GetProjectCompanies",
        "parameters": [
          {
            "description": "The id of the project.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The id of the project."
          },
          {
            "description": "continuous token",
            "in": "query",
            "name": "continuous_token",
            "type": "string",
            "x-ms-summary": "continuous token"
          },
          {
            "default": 50,
            "description": "Number max of companies to get.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-ms-summary": "Number max of companies to get."
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetCompanies"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get companies",
        "tags": [
          "Companies"
        ]
      }
    },
    "/projects/{projectId}/documents": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Project - Create a document",
        "operationId": "CreateDocument",
        "parameters": [
          {
            "description": "The Project Id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The Project Id"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          },
          {
            "description": "",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateDocumentParameters"
            },
            "x-ms-summary": ""
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateDocument"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Create a document",
        "tags": [
          "Documents"
        ]
      }
    },
    "/projects/{projectId}/documents/filter": {
      "get": {
        "description": "Get document folders in your project",
        "operationId": "GetDocuments",
        "parameters": [
          {
            "description": "The project ID",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The project ID"
          },
          {
            "description": "The parent folder ID (optional)",
            "in": "query",
            "name": "parent_id",
            "type": "string",
            "x-ms-summary": "The parent folder ID (optional)"
          },
          {
            "description": "Type folder or document (optional)",
            "in": "query",
            "name": "type",
            "type": "string",
            "x-ms-summary": "Type folder or document (optional)"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetDocumentsFiltered"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get document folders",
        "tags": [
          "Documents"
        ]
      }
    },
    "/projects/{projectId}/documents/{documentId}": {
      "get": {
        "description": "Get a document or folder",
        "operationId": "GetDocumentDetail",
        "parameters": [
          {
            "description": "The parent project id.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The parent project id."
          },
          {
            "description": "The document Id to get.",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The document Id to get."
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get document or folder",
        "tags": [
          "Documents"
        ]
      }
    },
    "/projects/{projectId}/folders/children-folders": {
      "get": {
        "description": "Get the plans or folders in your project",
        "operationId": "GetFolderContent",
        "parameters": [
          {
            "description": "The parent project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The parent project id"
          },
          {
            "description": "The parent folder ID (optional)",
            "in": "query",
            "name": "folder_id",
            "type": "string",
            "x-ms-summary": "The parent folder ID (optional)"
          },
          {
            "description": "Type folder or plan (optional)",
            "in": "query",
            "name": "type",
            "type": "string",
            "x-ms-summary": "Type folder or plan (optional)"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetFolderContent"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get plans or folders",
        "tags": [
          "Locations"
        ]
      }
    },
    "/projects/{projectId}/forms": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create a Form",
        "operationId": "CreateForm",
        "parameters": [
          {
            "description": "the project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "the project id"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          },
          {
            "description": "Form creation parameters",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateFormInstanceParameters"
            },
            "x-ms-summary": "Form creation parameters"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateFormInstance"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Create a Form",
        "tags": [
          "Forms"
        ]
      }
    },
    "/projects/{projectId}/forms-modules": {
      "get": {
        "description": "Get the list of all existing form modules for a given project",
        "operationId": "GetFormsModules",
        "parameters": [
          {
            "description": "The project Id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The project Id"
          },
          {
            "description": "Continuous token",
            "in": "query",
            "name": "continuous_token",
            "type": "string",
            "x-ms-summary": "Continuous token"
          },
          {
            "default": 50,
            "description": "Number of modules to get",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-ms-summary": "Number of modules to get"
          },
          {
            "default": true,
            "description": "With deleted",
            "in": "query",
            "name": "with_deleted",
            "type": "boolean",
            "x-ms-summary": "With deleted"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetModulesForm"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get form modules",
        "tags": [
          "Modules"
        ]
      }
    },
    "/projects/{projectId}/forms-priorities": {
      "get": {
        "description": "Get the forms priorities in your project",
        "operationId": "GetFormPriorities",
        "parameters": [
          {
            "description": "The project Id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The project Id"
          },
          {
            "description": "continuous token",
            "in": "query",
            "name": "continuous_token",
            "type": "string",
            "x-ms-summary": "continuous token"
          },
          {
            "default": 50,
            "description": "Number max to get.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-ms-summary": "Number max to get."
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetPriorities"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get forms priorities",
        "tags": [
          "Forms"
        ]
      }
    },
    "/projects/{projectId}/forms/{formId}/full": {
      "get": {
        "description": "Get the details of a given form (description, template name, assignee,...)",
        "operationId": "GetFormDetail",
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The project id"
          },
          {
            "description": "The Form id",
            "in": "path",
            "name": "formId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The Form id"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetFormFull"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get form details",
        "tags": [
          "Forms"
        ]
      }
    },
    "/projects/{projectId}/forms/{formId}/statuses": {
      "get": {
        "description": "Get the forms status in your project",
        "operationId": "GetFormTemplateStatuses",
        "parameters": [
          {
            "description": "Id of the project",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id of the project"
          },
          {
            "description": "Id of form template",
            "in": "path",
            "name": "formId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id of form template"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetFormStatuses"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get forms status",
        "tags": [
          "Forms"
        ]
      }
    },
    "/projects/{projectId}/formsforms": {
      "get": {
        "description": "Get forms templates",
        "operationId": "GetFormTemplates",
        "parameters": [
          {
            "description": "Id of the project",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id of the project"
          },
          {
            "description": "Id of the module",
            "in": "query",
            "name": "module_id",
            "type": "string",
            "x-ms-summary": "Id of the module"
          },
          {
            "description": "Id of the category",
            "in": "query",
            "name": "category_id",
            "type": "string",
            "x-ms-summary": "Id of the category"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetForms"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get forms templates",
        "tags": [
          "Forms"
        ]
      }
    },
    "/projects/{projectId}/groups": {
      "get": {
        "description": "Get the discussions groups in your project",
        "operationId": "GetProjectGroups",
        "parameters": [
          {
            "description": "The parent project id.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The parent project id."
          },
          {
            "default": 50,
            "description": "Number max of groups to get",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-ms-summary": "Number max of groups to get"
          },
          {
            "default": 0,
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "integer",
            "x-ms-summary": "offset"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetGroups"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get discussions groups",
        "tags": [
          "Groups"
        ]
      }
    },
    "/projects/{projectId}/members": {
      "get": {
        "description": "Get the users in your project",
        "operationId": "GetProjectMembers",
        "parameters": [
          {
            "description": "The id of the project.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The id of the project."
          },
          {
            "description": "continuous token",
            "in": "query",
            "name": "continuous_token",
            "type": "string",
            "x-ms-summary": "continuous token"
          },
          {
            "default": 50,
            "description": "Number max of members to get.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-ms-summary": "Number max of members to get."
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetMembers"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get users",
        "tags": [
          "Projects"
        ]
      }
    },
    "/projects/{projectId}/modules": {
      "get": {
        "description": "Get the list of all existing observations modules for a given project",
        "operationId": "GetObservationsModules",
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The project id"
          },
          {
            "description": "continuous_token",
            "in": "query",
            "name": "continuous_token",
            "type": "string",
            "x-ms-summary": "continuous_token"
          },
          {
            "default": 50,
            "description": "Number max of modules to get",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-ms-summary": "Number max of modules to get"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetModules"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get observation modules",
        "tags": [
          "Modules"
        ]
      }
    },
    "/projects/{projectId}/observations": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create an observation",
        "operationId": "CreateObservation",
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The project id"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          },
          {
            "description": "Observation creation parameters",
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateObservationParameters"
            },
            "x-ms-summary": "Observation creation parameters"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateObservation"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Create observation",
        "tags": [
          "Observations"
        ]
      }
    },
    "/projects/{projectId}/observations-priorities": {
      "get": {
        "description": "Get the observations priorities in your project",
        "operationId": "GetObservationPriorities",
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The project id"
          },
          {
            "description": "continuous token",
            "in": "query",
            "name": "continuous_token",
            "type": "string",
            "x-ms-summary": "continuous token"
          },
          {
            "description": "offset",
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "offset"
          },
          {
            "default": 50,
            "description": "Number max to get.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-ms-summary": "Number max to get."
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetPriorities"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get observations priorities",
        "tags": [
          "Observations"
        ]
      }
    },
    "/projects/{projectId}/observations/{observationId}/full": {
      "get": {
        "description": "Get the details of a given observation (description, status, assignee,...)",
        "operationId": "GetObservationDetail",
        "parameters": [
          {
            "description": "Id of the project",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id of the project"
          },
          {
            "description": "Id of the observation",
            "in": "path",
            "name": "observationId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id of the observation"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetObservationFull"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get observation details",
        "tags": [
          "Observations"
        ]
      }
    },
    "/projects/{projectId}/phases": {
      "get": {
        "description": "Get the phases in your project",
        "operationId": "GetProjectPhases",
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The project id"
          },
          {
            "description": "continuous_token",
            "in": "query",
            "name": "continuous_token",
            "type": "string",
            "x-ms-summary": "continuous_token"
          },
          {
            "description": "Offset",
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset"
          },
          {
            "default": 50,
            "description": "Number max to get",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-ms-summary": "Number max to get"
          },
          {
            "default": true,
            "description": "Include deleted",
            "in": "query",
            "name": "with_deleted",
            "type": "boolean",
            "x-ms-summary": "Include deleted"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetPhases"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get phases",
        "tags": [
          "Phases"
        ]
      }
    },
    "/projects/{projectId}/roles": {
      "get": {
        "description": "Get project roles",
        "operationId": "GetProjectRoles",
        "parameters": [
          {
            "description": "The id of the project.",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The id of the project."
          },
          {
            "description": "Number max of project roles to get.",
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Number max of project roles to get."
          },
          {
            "description": "Offset index from where to begin getting project roles.",
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset index from where to begin getting project roles."
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetProjectRoles"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get roles",
        "tags": [
          "Projects"
        ]
      }
    },
    "/projects/{projectId}/status": {
      "get": {
        "description": "Get the observations status in your project",
        "operationId": "GetObservationStatuses",
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The project id"
          },
          {
            "description": "continuous token",
            "in": "query",
            "name": "continuous_token",
            "type": "string",
            "x-ms-summary": "continuous token"
          },
          {
            "default": 50,
            "description": "Number max to get.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "x-ms-summary": "Number max to get."
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetStatuses"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get observations status",
        "tags": [
          "Observations"
        ]
      }
    },
    "/projects/{projectId}/trades/module": {
      "get": {
        "description": "Get observation categories (formerly trades)",
        "operationId": "GetTradesModules",
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The project id"
          },
          {
            "description": "The module id",
            "in": "query",
            "name": "module_id",
            "type": "string",
            "x-ms-summary": "The module id"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTradesByModule"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get observation categories",
        "tags": [
          "Observations"
        ]
      }
    },
    "/projects/{projectId}/trades/{tradeId}/commonobservations": {
      "get": {
        "description": "Get observation models (formerly common observations)",
        "operationId": "GetCommonobsTrade",
        "parameters": [
          {
            "description": "The project id",
            "in": "path",
            "name": "projectId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The project id"
          },
          {
            "description": "The trade id",
            "in": "path",
            "name": "tradeId",
            "required": true,
            "type": "string",
            "x-ms-summary": "The trade id"
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetCommonObsByTrade"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Project - Get observation models",
        "tags": [
          "Observations"
        ]
      }
    },
    "/time-zones": {
      "get": {
        "description": "Get the list of available time zones",
        "operationId": "GetTimezonesList",
        "parameters": [
          {
            "description": "Number max of time zones to get.",
            "in": "query",
            "name": "limit",
            "type": "string",
            "x-ms-summary": "Number max of time zones to get."
          },
          {
            "description": "Offset index from where to begin getting time zones.",
            "in": "query",
            "name": "offset",
            "type": "string",
            "x-ms-summary": "Offset index from where to begin getting time zones."
          },
          {
            "default": "en",
            "description": "Language usage",
            "in": "header",
            "name": "Accept-Language",
            "type": "string",
            "x-ms-summary": "Language usage"
          },
          {
            "default": "",
            "description": "user time zone IANA format",
            "in": "header",
            "name": "X-TimeZone",
            "type": "string",
            "x-ms-summary": "user time zone IANA format"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetTimeZones"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Get time zones list",
        "tags": [
          "TimeZones"
        ]
      }
    },
    "/InitParameters": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "language": {
                  "type": "string"
                },
                "timezone": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Setup - Language and timezone",
        "description": "Setup the language and timezone configuration",
        "operationId": "InitParameters",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "language": {
                  "type": "string",
                  "description": "Your language (should appair in the project)",
                  "title": "Your language (should appair in the project)",
                  "default": "fr",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-list": {
                    "operationId": "GetLanguagesList",
                    "itemsPath": "langs",
                    "itemValuePath": "code",
                    "itemTitlePath": "name",
                    "parameters": {}
                  }
                },
                "timezone": {
                  "type": "string",
                  "description": "time-zone",
                  "title": "Your time-zone",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-list": {
                    "operationId": "GetTimezonesList",
                    "itemsPath": "time_zones",
                    "itemValuePath": "id",
                    "itemTitlePath": "display_name",
                    "parameters": {
                      "limit": {
                        "value": "999"
                      },
                      "offset": {
                        "value": "0"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/init": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "business_organization_id": {
                  "type": "string"
                },
                "project_id": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Setup - Project",
        "description": "Setup the project configuration",
        "operationId": "Init",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "business_organization_id": {
                  "type": "string",
                  "description": "business organization id",
                  "title": "business organization id",
                  "x-ms-summary": "business organization id",
                  "x-ms-dynamic-values": {
                    "operationId": "GetOrganizations",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "project_id": {
                  "type": "string",
                  "description": "project ID",
                  "x-ms-summary": "project ID",
                  "title": "project ID",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProjects",
                    "value-path": "project_id",
                    "value-collection": "projects",
                    "value-title": "name",
                    "parameters": {
                      "organizationId": {
                        "parameter": "business_organization_id"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetProjects",
                    "itemsPath": "Projects",
                    "itemValuePath": "project_id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "organizationId": {
                        "parameterReference": "body/business_organization_id"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/webhooks/ev/201": {
      "x-ms-notification-content": {
        "description": "Trigger the flow when an observation is created",
        "schema": {
          "type": "object",
          "properties": {
            "parent_id": {
              "type": "string",
              "description": "parent_id"
            },
            "event": {
              "type": "integer",
              "description": "event"
            },
            "element_id": {
              "type": "string",
              "description": "element_id"
            },
            "data1": {
              "type": "string",
              "description": "data1"
            },
            "data2": {
              "type": "string",
              "description": "data2"
            },
            "data3": {
              "type": "string",
              "description": "data3"
            }
          }
        },
        "operationId": "ThenObsCreated",
        "summary": "Trigger - Observation created"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Trigger - Observation created",
        "description": "Trigger the flow when an observation is created",
        "operationId": "ThenObsCreated",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "event": {
                  "type": "integer",
                  "description": "event",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "business_organization_id": {
                  "type": "string",
                  "description": "business_organization_id",
                  "title": "",
                  "x-ms-dynamic-values": {
                    "operationId": "GetOrganizations",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "project_id": {
                  "type": "string",
                  "description": "project_id",
                  "title": "",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProjects",
                    "value-path": "project_id",
                    "value-collection": "projects",
                    "value-title": "name",
                    "parameters": {
                      "organizationId": {
                        "parameter": "business_organization_id"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetProjects",
                    "itemsPath": "Projects",
                    "itemValuePath": "project_id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "organizationId": {
                        "parameterReference": "body/business_organization_id"
                      }
                    }
                  }
                },
                "client_url": {
                  "type": "string",
                  "description": "client_url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "url",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "client_url"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/ev/202": {
      "x-ms-notification-content": {
        "description": "Trigger the flow when an observation is updated",
        "schema": {
          "type": "object",
          "properties": {
            "parent_id": {
              "type": "string",
              "description": "parent_id"
            },
            "event": {
              "type": "integer",
              "description": "event"
            },
            "element_id": {
              "type": "string",
              "description": "element_id"
            },
            "data1": {
              "type": "string",
              "description": "data1"
            },
            "data2": {
              "type": "string",
              "description": "data2"
            },
            "data3": {
              "type": "string",
              "description": "data3"
            }
          }
        },
        "operationId": "ThenObsUpdated",
        "summary": "Trigger - Observation updated"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Trigger - Observation updated",
        "description": "Trigger the flow when an observation is updated",
        "operationId": "ThenObsUpdated",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "event": {
                  "type": "integer",
                  "description": "event",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "business_organization_id": {
                  "type": "string",
                  "description": "business_organization_id",
                  "title": "",
                  "x-ms-dynamic-values": {
                    "operationId": "GetOrganizations",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "project_id": {
                  "type": "string",
                  "description": "project_id",
                  "title": "",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProjects",
                    "value-path": "project_id",
                    "value-collection": "projects",
                    "value-title": "name",
                    "parameters": {
                      "organizationId": {
                        "parameter": "business_organization_id"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetProjects",
                    "itemsPath": "Projects",
                    "itemValuePath": "project_id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "organizationId": {
                        "parameterReference": "body/business_organization_id"
                      }
                    }
                  }
                },
                "client_url": {
                  "type": "string",
                  "description": "client_url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "url",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "client_url"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/ev/301": {
      "x-ms-notification-content": {
        "description": "Trigger the flow when a form is created",
        "schema": {
          "type": "object",
          "properties": {
            "parent_id": {
              "type": "string",
              "description": "parent_id"
            },
            "event": {
              "type": "integer",
              "description": "event"
            },
            "element_id": {
              "type": "string",
              "description": "element_id"
            },
            "data1": {
              "type": "string",
              "description": "data1"
            },
            "data2": {
              "type": "string",
              "description": "data2"
            },
            "data3": {
              "type": "string",
              "description": "data3"
            }
          }
        },
        "operationId": "ThenFormCreated",
        "summary": "Trigger - Form created"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Trigger - Form created",
        "description": "Trigger the flow when a form is created",
        "operationId": "ThenFormCreated",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "event": {
                  "type": "integer",
                  "description": "event",
                  "title": "",
                  "x-ms-visibility": "internal"
                },
                "business_organization_id": {
                  "type": "string",
                  "description": "business_organization_id",
                  "title": "",
                  "x-ms-dynamic-values": {
                    "operationId": "GetOrganizations",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "project_id": {
                  "type": "string",
                  "description": "project_id",
                  "title": "",
                  "x-ms-dynamic-values": {
                    "operationId": "GetProjects",
                    "value-path": "project_id",
                    "value-collection": "projects",
                    "value-title": "name",
                    "parameters": {
                      "organizationId": {
                        "parameter": "business_organization_id"
                      }
                    }
                  },
                  "x-ms-dynamic-list": {
                    "operationId": "GetProjects",
                    "itemsPath": "Projects",
                    "itemValuePath": "project_id",
                    "itemTitlePath": "name",
                    "parameters": {
                      "organizationId": {
                        "parameterReference": "body/business_organization_id"
                      }
                    }
                  }
                },
                "client_url": {
                  "type": "string",
                  "description": "client_url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "url",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "client_url"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/ev/302": {
      "x-ms-notification-content": {
        "description": "Trigger the flow when a form is updated",
        "schema": {
          "type": "object",
          "properties": {
            "parent_id": {
              "type": "string",
              "description": "parent_id"
            },
            "event": {
              "type": "integer",
              "description": "event"
            },
            "element_id": {
              "type": "string",
              "description": "element_id"
            },
            "data1": {
              "type": "string",
              "description": "data1"
            },
            "data2": {
              "type": "string",
              "description": "data2"
            },
            "data3": {
              "type": "string",
              "description": "data3"
            }
          }
        },
        "operationId": "ThenFormUpdated",
        "summary": "Trigger - Form updated"
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Trigger - Form updated",
        "description": "Trigger the flow when a form is updated",
        "operationId": "ThenFormUpdated",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "event": {
                  "type": "integer",
                  "description": "event",
[...]
